<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-model-heading" jhiTranslate="provisionercloudApp.model.home.createOrEditLabel">Create or edit a Model</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="provisionercloudApp.model.modelId" for="field_modelId">Model Id</label>
                    <input type="text" class="form-control" name="modelId" id="field_modelId"
                           formControlName="modelId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="provisionercloudApp.model.subscribe" for="field_subscribe">Subscribe</label>
                    <input type="text" class="form-control" name="subscribe" id="field_subscribe"
                           formControlName="subscribe"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="provisionercloudApp.model.bind" for="field_bind">Bind</label>
                    <input type="text" class="form-control" name="bind" id="field_bind"
                           formControlName="bind"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="provisionercloudApp.model.publish" for="field_publish">Publish</label>
                    <select class="form-control" id="field_publish" name="publish" formControlName="publish">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="publishOption.id === editForm.get('publish').value?.id ? editForm.get('publish').value : publishOption" *ngFor="let publishOption of publishes; trackBy: trackPublishById">{{publishOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="provisionercloudApp.model.element" for="field_element">Element</label>
                    <select class="form-control" id="field_element" name="element" formControlName="element">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="elementOption.id === editForm.get('element').value?.id ? editForm.get('element').value : elementOption" *ngFor="let elementOption of elements; trackBy: trackElementById">{{elementOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
