<div>
    <h2 id="page-heading">
        <span jhiTranslate="provisionercloudApp.allocatedUnicastRange.home.title">Allocated Unicast Ranges</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-allocated-unicast-range" [routerLink]="['/allocated-unicast-range/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="provisionercloudApp.allocatedUnicastRange.home.createLabel">
            Create a new Allocated Unicast Range
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="allocatedUnicastRanges?.length === 0">
        <span jhiTranslate="provisionercloudApp.allocatedUnicastRange.home.notFound">No allocatedUnicastRanges found</span>
    </div>
    <div class="table-responsive" *ngIf="allocatedUnicastRanges?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lowAddress"><span jhiTranslate="provisionercloudApp.allocatedUnicastRange.lowAddress">Low Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="highAddress"><span jhiTranslate="provisionercloudApp.allocatedUnicastRange.highAddress">High Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="provisioner.id"><span jhiTranslate="provisionercloudApp.allocatedUnicastRange.provisioner">Provisioner</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let allocatedUnicastRange of allocatedUnicastRanges ;trackBy: trackId">
                <td><a [routerLink]="['/allocated-unicast-range', allocatedUnicastRange.id, 'view' ]">{{allocatedUnicastRange.id}}</a></td>
                <td>{{allocatedUnicastRange.lowAddress}}</td>
                <td>{{allocatedUnicastRange.highAddress}}</td>
                <td>
                    <div *ngIf="allocatedUnicastRange.provisioner">
                        <a [routerLink]="['/provisioner', allocatedUnicastRange.provisioner?.id, 'view' ]" >{{allocatedUnicastRange.provisioner?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/allocated-unicast-range', allocatedUnicastRange.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/allocated-unicast-range', allocatedUnicastRange.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/allocated-unicast-range', { outlets: { popup: allocatedUnicastRange.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
