<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="allocatedRange">
            <h2><span jhiTranslate="provisionercloudApp.allocatedRange.detail.title">Allocated Range</span> {{allocatedRange.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="provisionercloudApp.allocatedRange.lowAddress">Low Address</span></dt>
                <dd>
                    <span>{{allocatedRange.lowAddress}}</span>
                </dd>
                <dt><span jhiTranslate="provisionercloudApp.allocatedRange.highAddress">High Address</span></dt>
                <dd>
                    <span>{{allocatedRange.highAddress}}</span>
                </dd>
                <dt><span jhiTranslate="provisionercloudApp.allocatedRange.provisioner">Provisioner</span></dt>
                <dd>
                    <div *ngIf="allocatedRange.provisioner">
                        <a [routerLink]="['/provisioner', allocatedRange.provisioner?.id, 'view']">{{allocatedRange.provisioner?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="provisionercloudApp.allocatedRange.provisioner">Provisioner</span></dt>
                <dd>
                    <div *ngIf="allocatedRange.provisioner">
                        <a [routerLink]="['/provisioner', allocatedRange.provisioner?.id, 'view']">{{allocatedRange.provisioner?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="provisionercloudApp.allocatedRange.provisioner">Provisioner</span></dt>
                <dd>
                    <div *ngIf="allocatedRange.provisioner">
                        <a [routerLink]="['/provisioner', allocatedRange.provisioner?.id, 'view']">{{allocatedRange.provisioner?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/allocated-range', allocatedRange.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
