<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-allocated-group-range-heading" jhiTranslate="provisionercloudApp.allocatedGroupRange.home.createOrEditLabel">Create or edit a Allocated Group Range</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="provisionercloudApp.allocatedGroupRange.lowAddress" for="field_lowAddress">Low Address</label>
                    <input type="text" class="form-control" name="lowAddress" id="field_lowAddress"
                           formControlName="lowAddress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="provisionercloudApp.allocatedGroupRange.highAddress" for="field_highAddress">High Address</label>
                    <input type="text" class="form-control" name="highAddress" id="field_highAddress"
                           formControlName="highAddress"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="provisionercloudApp.allocatedGroupRange.provisioner" for="field_provisioner">Provisioner</label>
                    <select class="form-control" id="field_provisioner" name="provisioner" formControlName="provisioner">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="provisionerOption.id === editForm.get('provisioner').value?.id ? editForm.get('provisioner').value : provisionerOption" *ngFor="let provisionerOption of provisioners; trackBy: trackProvisionerById">{{provisionerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
