<div>
    <h2 id="page-heading">
        <span jhiTranslate="provisionercloudApp.keyIndex.home.title">Key Indices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-key-index" [routerLink]="['/key-index/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="provisionercloudApp.keyIndex.home.createLabel">
            Create a new Key Index
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="keyIndices?.length === 0">
        <span jhiTranslate="provisionercloudApp.keyIndex.home.notFound">No keyIndices found</span>
    </div>
    <div class="table-responsive" *ngIf="keyIndices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="index"><span jhiTranslate="provisionercloudApp.keyIndex.index">Index</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updated"><span jhiTranslate="provisionercloudApp.keyIndex.updated">Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="node.id"><span jhiTranslate="provisionercloudApp.keyIndex.node">Node</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="node.id"><span jhiTranslate="provisionercloudApp.keyIndex.node">Node</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let keyIndex of keyIndices ;trackBy: trackId">
                <td><a [routerLink]="['/key-index', keyIndex.id, 'view' ]">{{keyIndex.id}}</a></td>
                <td>{{keyIndex.index}}</td>
                <td>{{keyIndex.updated}}</td>
                <td>
                    <div *ngIf="keyIndex.node">
                        <a [routerLink]="['/node', keyIndex.node?.id, 'view' ]" >{{keyIndex.node?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="keyIndex.node">
                        <a [routerLink]="['/node', keyIndex.node?.id, 'view' ]" >{{keyIndex.node?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/key-index', keyIndex.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/key-index', keyIndex.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/key-index', { outlets: { popup: keyIndex.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
