<div>
    <h2 id="page-heading">
        <span jhiTranslate="provisionercloudApp.element.home.title">Elements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-element" [routerLink]="['/element/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="provisionercloudApp.element.home.createLabel">
            Create a new Element
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="elements?.length === 0">
        <span jhiTranslate="provisionercloudApp.element.home.notFound">No elements found</span>
    </div>
    <div class="table-responsive" *ngIf="elements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="index"><span jhiTranslate="provisionercloudApp.element.index">Index</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="location"><span jhiTranslate="provisionercloudApp.element.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="provisionercloudApp.element.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="node.id"><span jhiTranslate="provisionercloudApp.element.node">Node</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let element of elements ;trackBy: trackId">
                <td><a [routerLink]="['/element', element.id, 'view' ]">{{element.id}}</a></td>
                <td>{{element.index}}</td>
                <td>{{element.location}}</td>
                <td>{{element.name}}</td>
                <td>
                    <div *ngIf="element.node">
                        <a [routerLink]="['/node', element.node?.id, 'view' ]" >{{element.node?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/element', element.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/element', element.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/element', { outlets: { popup: element.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
