<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="appUser">
            <h2><span jhiTranslate="provisionercloudApp.appUser.detail.title">App User</span> {{appUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="provisionercloudApp.appUser.name">Name</span></dt>
                <dd>
                    <span>{{appUser.name}}</span>
                </dd>
                <dt><span jhiTranslate="provisionercloudApp.appUser.password">Password</span></dt>
                <dd>
                    <span>{{appUser.password}}</span>
                </dd>
                <dt><span jhiTranslate="provisionercloudApp.appUser.email">Email</span></dt>
                <dd>
                    <span>{{appUser.email}}</span>
                </dd>
                <dt><span jhiTranslate="provisionercloudApp.appUser.domain">Domain</span></dt>
                <dd>
                    <span>{{appUser.domain}}</span>
                </dd>
                <dt><span jhiTranslate="provisionercloudApp.appUser.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="appUser.customer">
                        <a [routerLink]="['/customer', appUser.customer?.id, 'view']">{{appUser.customer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/app-user', appUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
