<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="retransmit">
            <h2><span jhiTranslate="provisionercloudApp.retransmit.detail.title">Retransmit</span> {{retransmit.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="provisionercloudApp.retransmit.count">Count</span></dt>
                <dd>
                    <span>{{retransmit.count}}</span>
                </dd>
                <dt><span jhiTranslate="provisionercloudApp.retransmit.interval">Interval</span></dt>
                <dd>
                    <span>{{retransmit.interval}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/retransmit', retransmit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
